* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

img {
    display: block;
    width: 100%;
}

h1, h2, h3, h4 {
    font-family: 'Oswald';
    color:#2F4858;
}

body {
    font-family: 'Montserrat';
    font-size: 18px;
    line-height: 1;
    color: #060606;
    background-color: white;
}




 /* HEADER */

header { 
    width: 100%;
    position: fixed;
    z-index: 99;
}
nav {
    background: white;
    height: 92.51px;
}
 /* LOGO */
.logo {
    display: block;
    float: left;
    padding-left: 62px;
    margin-bottom: -20px;
    z-index: 100;
    position: relative;
    margin-right: 0px;
}

 /* MENU */
#menu {
    text-align: center;
}

#menu li {
    display: inline-block;
    margin-right: 30px;
    margin-top: 53px;
    
}
#menu a {
    color: #111;
    font-weight: 600;
    display: block;
    line-height: 21.94px;
}

#active {
    text-decoration: underline;
    text-decoration-color: rgb(255, 203, 102);
    text-decoration-thickness: 3px;
}

#menu a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(255, 203, 102);
    text-decoration-thickness: 3px;
}

#menu li:last-child {
    margin-right: 0;
}

#menu li:first-child {
    margin-right: 12px;
}

#lv {
    float: right;
}

#en, #ru {
    visibility: hidden;
}
#ru {
    order: 3;
}

#lv2 {
    order: 1;
}

#en {
    order: 2;
}

#language {
    display: flex;
    justify-content:space-around;
    max-width: 390px;
    margin: auto;
}


.nav-toggle {
    display: none;
    position: relative;
    float: right;
    width: 24.8px;
    height: 20px;
    margin-right: 80px;
    background-image: url("../img/three_menu.png");
    background-size: cover;
    margin-top: 35px;
    cursor: pointer;
}

#menu.active {
    max-height: 1000px;
    transition: .5s ease-in-out;
}

/*IDEJA*/
#ideja_title {
    font-size: 48px;
    text-align: center;
    padding-bottom: 72px;
}

.container {
    margin: 0px auto;
    width: 100%;
    max-width: 650px;
    padding: 0px;
    padding-top: 215px;
}

#ideja_title {
    padding-bottom: 65px;
}

#text_par_juri {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #2F4858;
}

/*BUTTONS*/
.container3 {
    margin: 95px auto 160px auto;
    display: flex;
    width: 100%;
    max-width: 1053px;
    flex-flow: row wrap;
    justify-content:space-between;
}

.buttons img {
    width: auto;
    height: 196px;
    margin: 0 auto 55px auto;
}

.buttons {
    text-align: center;
    width: 50%;
    max-width: 420px;
}

.buttons h2 {
    font-size: 30px;
    line-height: 44px;
    font-weight: 500;
}

.buttons p {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2F4858;
    height: 180px;
    margin: 20px auto;
    max-width: 394px;
}

button {
    background-color: rgb(255, 170, 0);
    margin-top: 28px;
    width: 233px;
    height: 50px;
    border: none;
    border-radius: 100px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: .2s ease-in-out;

}

button:hover {
    box-shadow: 0 5px 16px 0 rgba(0,0,0,0.24);
}

/*PHOTOS*/
#photos {
    margin-bottom: 170px;
}

#up {
    background-image: url('../img/ripped\ 6\ 7.png');
    height: 55px;
    position: absolute;
    z-index: 5;
    width:100%;
}

#down {
    background-image: url('../img/ripped-6-8.png');
    background-repeat: repeat-x;
    background-position: bottom;
    height: 55px;
    margin-top: -50px;
    position: absolute;
    z-index: 5;
    width: 100%;
}

#picture {
    display: flex;
    flex-flow: row wrap;
}

#one {
    width: 21.5%;
}

#two {
    width: 21.6%;
}

#three {
    width: 21.9%;
}

#four {
    width: 35%;
}


/*CONTACT*/
.widget-title {
    font-size: 33px;
    margin-bottom: 45px;
    text-align: center;
    width: 100%;
}

#container2 {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 642px;
    padding: 0 15px;
    margin-bottom: 145px;
}

#container2 h2 {
    font-weight: 500;
    font-size: 30px;
}

input, textarea {
    width: 100%;
    border-radius: 7px;
    border: none;
    background-color: #c4c4c440;
    color: #2F4858;
}

input {
    height: 43px;
    margin-top: 15px;
    padding: 0 12px;
    font-family: 'Montserrat';
    font-size: 18px;
}

textarea { 
    height:232px;
    resize: none;
    margin: 15px 0 10px 0;
    padding: 12px;
    font-family: 'Montserrat';
    font-size: 18px;
}

#name, #email {
    width: 48%;
}

#name {
    float: left;
}

#email {
    float: right;
}

form p {
    text-align: left;
    color: #2F4858;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 30px;
}

#check {
    display: flex;
}

#check label {
    width: 97%;
    padding-left: 22px;
}

#checkbox {
    margin-top: 5px;
    width: 3%;
    height: 17px;
}

#submit {
    width: 182px;
    height: 62px;
    margin-top: 23px;
    font-size: 24px;
}

 
/*FOOTER*/
footer {
    background-color: #2F4858;
    width: 100%;
    padding: 20px 0 10px 0;
}

footer.foot {
    width: 182px;

}
#container-footer {
    color: white;
    margin: 0px auto 0 auto;
    padding: 0 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    width: 100%;
    max-width: 1265px;
    line-height: 35px;
    font-size: 18px;
}

#container-footer a {
    color: white;
}

#facebook, #insta {
    padding-left: 30px;
    float: right;
    height: 36px;
    width: auto;
    display: inline-block;
}
#fa-in {
    padding: 45px 0 15px 0;
}

.juris, #biedriba-sp {
    font-size: 24px;
}

#juris-hide {
    display: none;
}

#second-menu {
    margin-top: -6px;
    line-height: 44px;
    padding-left: 25px;
}

#second-menu a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

#rekviz {
    display: none;
    font-weight: 600;
}

#rekviz:hover {
    text-decoration: underline;
}

#info {
    text-align: right;
}

.info {
    display: flex;
    flex-direction: column;
}

#SparkleHeart {
    color: white;
    line-height: 14px;
    width: 100%;
    vertical-align: bottom;
    font-size: 14px;
}

#rights {
    color: white;
    width: 50%;
    font-size: 14px;
    line-height: 20px;
}

#rights-hide {
    display: none;
    font-size: 15px;
}

#last {
    color: white;
    width: 50%;
    text-align: right;
    font-size: 14px;
    line-height: 14px;
}

/* PHOTOS AND VIDEO MOBILE */
@media (max-width: 400px) {
    #one {
        width: 100%;
    }
}

/* CONTACT */
@media (max-width: 600px) {
    #name, #email {
        width: 100%;
    }
}


@media (max-width: 1250px) {
    /* SHOW BUTTON */
    .nav-toggle {
       display: block;
    }
    #menu {
        font-size: 24px;
    }

    /* HIDE MENU */
    #menu {
       max-height: 0;
       height: 660px;
       background: white;
       float: none;
       position: absolute;
       overflow: hidden;
       top: 55px;
       right: 0;
       left: 0;
       margin: 0;
       padding: 0;
       z-index: 3;
       transition: .5s ease-in-out;
    }
    /* LIST ELEMENTS */
    #menu li {
       display: block;
       text-align: center;
       margin-right: 0;
       margin-top: 10px;
    }

    #language {
        padding-top: 30px;
    }

    #menu a {
        line-height: 80px;
    }

    #lv {
        float: none;
        margin-left: 0px;
        margin-right: 0px;
    }

    #menu li:first-child {
        margin-right: 0;
     }

    #en, #ru {
        visibility:visible;
    }

    #ru {
        order: 3;
    }

    #en {
        order: 2;
    }
    
    #lv2 {
        order: 1;
    }
    
}


/*FOOTER TABLET*/
@media (max-width: 1030px) {
    #biedriba {
        display: none;
    }
    #rekviz {
        display: block;
    }
}

/* TABLET */
@media (max-width: 786px) {
    /* NAV */
    .logo {
        width: 208px;
        padding-left: 80px;
    }

    nav {
        background: white;
        height: 75px;
    }

    /* IDEJA */

    .container {
        margin: 0px auto 92px auto;
        width: 100%;
        max-width: 608px;
        padding-top: 178px;
    }

    /* BUTTONS */
    .container3 {
        margin: 0px auto;
        justify-content: center;
        margin-bottom: 145px;
    }

    .buttons {
        width:100%;
        max-width: 628px;
    }

    .buttons:first-child {
        width:100%;
        margin-bottom: 152px;
    }

    .buttons img {
        margin-bottom: 50px;
    }

    .buttons p {
        max-width: 628px;
        height: auto;
        margin: 30px auto 28px auto;
        padding: 0px 10px;
    }

    /*CONTACT*/
    .widget-title {
        margin-bottom: 50px;
    }

    input {
        height: 40px;
    }
    
    textarea { 
        height:230px;
    }

    form p {
        margin-bottom: 6px;
    }

    #submit {
        margin-top: 46px;
    }

    #checkbox {
        margin-top: 2px;
    }

    #container2 {
        margin-bottom: 150px;
    }

    /* FOOTER */

    #second-menu {
        display: none;
    }

    #juris-hide {
        display: block;
        padding-top: 25px;
    }

    .juris {
        display: none;
    }

    #container-footer {
        padding-left: 80px;
        padding-right: 80px;
    }

    .foot {
        width: 162px;
        padding-top: 18px;
    }

    #info {
        padding-top: 30px;
        line-height: 30px;
    }

    #facebook, #insta {
        padding-left: 30px;
        height: 25px;
    }

    #fa-in {
        padding: 35px 0 15px 0;
    }

    #SparkleHeart {
        order: 3;
        width: 70%;
        font-size: 16px;
        padding-top: 25px;
        padding-bottom: 35px;
    }

    #rights-hide {
        display: inline-block;
        font-size: 16px;
    }

    #rights {
        display: none;
    }

    #last {
        order: 4;
        width: 30%;
        font-size: 16px;
        padding-top: 25px;
        padding-bottom: 35px;
    }
}

@media (max-width: 720px) {
    /* SparkleHeart */
    #SparkleHeart {
        width: 50%;
        line-height: 20px;
    }

    #last {
        width: 50%;
        padding-top: 50px;
    }
}

/*FOOTER MOBILE*/
@media (max-width: 630px) {
    .foot {
        width: 100px;
        padding-top: 0;
    }
    
    #container-footer {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    #info {
        text-align: left;
        width: 100%;
        order: 2;
        padding-top: 0px;
    }

    #fa-in {
        width: 100%;
    }

    #insta {
        float: none;
    }

    #facebook {
        float: left;
        padding-left: 5px;
        padding-right: 20px;
    }

    #SparkleHeart {
        order: 3;
        width: 100%;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #rights-hide {
        display: inline-block;
    }

    #rights {
        display: none;
    }

    #last {
        order: 4;
        width: 100%;
        text-align: left;
        padding-top: 20px;
        padding-bottom: 0px;
    }

    .juris {
        display: block;
        padding-top: 10px;
    }
    
    #juris-hide {
        display: none;
    }
}

@media (max-width: 480px) {
    /* NAV */
    .logo {
        width: 98px;
        padding-left: 20px;
    }

    nav {
        background: white;
        height: 53px;
    }

    .nav-toggle {
        height: 15px;
        width: 15px;
        margin-right: 18px;
        margin-top: 18px;
        background-image: url("../img/X_sign.png");
    }

    #menu {
        font-size: 18px;
    }

    /* IDEJA */
    .container {
        margin: 0px auto 82px auto;
        width: 100%;
        max-width: 280px;
        padding-top: 110px;
    }

    #ideja_title {
        font-size: 36px;
        padding-bottom: 37px;
    }
    
    #text_par_juri {
        font-size: 14px;
        line-height: 17.07px;
    }

    /* BUTTONS */
    .buttons h2 {
        font-size: 18px;
        width: 233px;
        margin: auto;
    }

    .buttons img {
        margin-bottom: 25px;
    }

    .buttons p {
        font-size: 12px;
        max-width: 300px;
        line-height: 14.63px;
        margin: 6px auto 28px auto;
    }

    .buttons button, #first-button {
        margin-top: 25px;
    }

    .buttons:first-child {
        margin-bottom: 70px;
    }

    .container3 {
        margin-bottom: 115px;
    }

    /*PHOTOS*/

    #one {
        width: 50%;
        order: 3;
    }

    #two {
        width: 50%;
        order: 4;
    }

    #three {
        width: 38.55%;
        order: 1;
    }

    #four {
        width: 61.45%;
        order: 2;
    }

    #photos {
        margin-bottom: 120px;
    }


    /*CONTACT*/
    #container2 h2 {
        font-size: 24px;
    }

    .widget-title {
        margin-bottom: 25px;
    }

    input {
        height: 35px;
        margin-top: 10px;
        font-size: 14px;
    }
    
    textarea { 
        height:150px;
        margin-top: 10px;
        font-size: 14px;
    }

    form p {
        margin-bottom: 12px;
        font-size: 12px;
        line-height: 14px;
    }

    #check label {
        width: 95%;
        padding-left: 22px;
    }
    
    #checkbox {
        margin-top: 5px;
        width: 5%;
        height: 17px;
    }

    #submit {
        margin-top: 46px;
        width: 140px;
        height: 48px;
        font-size: 18px;
    }

    #container2 {
        margin-bottom: 132px;
    }

    /* FOOTER */
    #info {
        font-size: 12px;
    }
    #rekviz {
        font-size: 14px;
    }
    .juris {
        font-size: 18px;
    }
    #info {
        line-height: 26px;
    }
    #fa-in {
        padding-top: 38px;
    }
    #insta {
        padding-left: 13px;
    }
    #facebook {
        padding-left: 0px;
    }

    #SparkleHeart {
        font-size: 11px;
        padding-top: 11px;
        line-height: 14px;
    }
    #rights-hide {
        font-size: 11px;
    }

    #last {
        font-size: 11px;
        padding-top: 7px;
        padding-bottom: 20px;
    }
}




