* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

img {
    display: block;
    width: 100%;
}

h1, h2, h3, h4 {
    font-family: 'Oswald';
    color:#2F4858;
}

body {
    font-family: 'Montserrat';
    font-size: 18px;
    line-height: 1;
    color: #060606;
    background-color: white;
}




 /* HEADER */

header { 
    width: 100%;
    position: fixed;
    z-index: 99;
}
nav {
    background: white;
    height: 92.51px;
}
 /* LOGO */
.logo {
    display: block;
    float: left;
    width: 221px;
    padding-left: 62px;
    margin-bottom: -20px;
    z-index: 100;
    position: relative;
    margin-right: 0px;
}

 /* MENU */
#menu {
    text-align: center;
}

#menu li {
    display: inline-block;
    margin-right: 30px;
    margin-top: 53px;
    
}
#menu a {
    color: #111;
    font-weight: 600;
    display: block;
    line-height: 21.94px;
}

#active {
    text-decoration: underline;
    text-decoration-color: rgb(255, 203, 102);
    text-decoration-thickness: 3px;
}

#menu a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(255, 203, 102);
    text-decoration-thickness: 3px;
}

#menu li:last-child {
    margin-right: 0;
}

#menu li:first-child {
    margin-right: 12px;
}

#lv {
    float: right;
}

#en, #ru {
    visibility: hidden;
}
#ru {
    order: 3;
}

#lv2 {
    order: 1;
}

#en {
    order: 2;
}

#language {
    display: flex;
    justify-content:space-around;
    max-width: 390px;
    margin: auto;
}


.nav-toggle {
    display: none;
    position: relative;
    float: right;
    width: 24.8px;
    height: 20px;
    margin-right: 80px;
    background-image: url("../img/three_menu.png");
    background-size: cover;
    margin-top: 35px;
    cursor: pointer;
}

#menu.active {
    max-height: 100vh;
    transition: .5s ease-in-out;
}

.nav-toggle.active {
    height: 20px;
    width: 20px;
    background-image: url("../img/X_sign.png");
}

#vector {
    margin-top: -1px;
}

/*TEXT*/
#ideja_title {
    font-size: 48px;
    text-align: center;
    padding-bottom: 75px;
}

.container {
    margin: 0px auto 80px auto;
    width: 100%;
    max-width: 800px;
    padding: 0px;
    padding-top: 215px;
}

#text_par_juri {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2F4858;
}

/*SELECT*/
#select {
    margin: 60px auto;
    padding: 0 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    width: 100%;
    max-width: 650px;
}

form label {
    color:#FFA800;
    line-height: 50px;
}

#select-riga-edisana {
    display: none;
    flex-flow: row wrap;
    max-width: 850px;
    padding: 20px;
    margin: 190px auto 20px auto;
}

#select-riga-edisana.select {
    display: flex;
}

.edisana-name {
    width: 40%;
    padding-left: 50px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #2F4858;
}

.edisana-name, .edisana-adrese {
    margin: auto;
}

#select-riga-edisana .edisana-logo {
    width: 20%;
}

#select-riga-edisana .edisana-logo img {
    width: 150px;
    padding: 15px;
}

.edisana-adrese {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #2F4858;
    text-align: right;
    width: 40%;
}

/* SELECT */

/*the container must be positioned relative:*/
.custom-select {
    position: relative;
    font-family: 'Montserrat';
    width: 288px;
    margin: auto;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    background-color: #E7E7E7;
    border-radius: 7px;
    
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 69.5px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #2F4858 transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #2F4858 transparent;
    top: 63.5px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: #2F4858;
    font-weight: 400;
    font-size: 18px;
    padding: 12.5px 16px;
    border: 1px solid transparent;
    cursor: pointer;
    user-select: none;
  }

  .select-arrow-active {
    border-radius: 7px 7px 0 0;
    border: 1px solid transparent;
    background-image: 
    linear-gradient(0deg, #E7E7E7 0%, #E7E7E7 100%),
    linear-gradient(0deg, #2F4858 0%, #2F4858 100%);
    background-origin: padding-box, padding-box, padding-box;
    background-repeat: no-repeat;
    background-size: 33px 100%, 251px 1.5px;
    background-position: right bottom, center bottom;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: #E7E7E7;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border-radius: 0 0 7px 7px;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }


/*KARTE*/
#map {
    height: 648px;
    width: 100%;
    margin-bottom: -3%;
  }

/*PLACE*/
.karta-text {
    display: flex;
    flex-flow: row wrap;
    background-color: rgba(255, 168, 0, 0.5);
    border-radius: 7px;
    padding: 12px;
    color: #2F4858;
}

.karta-text img {
    width: 120px;
    padding-top: 30px;
}

.karta-text div {
    padding: 12px;
}

.karta-text h2 {
    text-align: right;
    font-size: 24px;
    padding-bottom: 20px;
}

.karta-text p {
    text-align: right;
    font-size: 18px;
}

/*STYLE*/

.gm-style-iw {
    overflow: visible !important;
}

.gm-style-iw div {
    overflow: visible !important;
  }

.gm-style .gm-style-iw-c {
    padding: 0;
    background-color: rgba(255, 0, 0, 0);
}

.gm-style .gm-style-iw-t::after {
    display: none;
}

img[src="http://maps.gstatic.com/mapfiles/api-3/images/mapcnt3.png"] {
    display: none;
}

.gm-style .gm-style-iw-tc {
    display: none;
}

.gm-ui-hover-effect {display: none !important; }

/*FOOTER*/
#br {
    display: none;
}

#footer-img {
    margin-bottom: -1px;
    position: relative;
}

footer {
    background-color: #2F4858;
    width: 100%;
    padding: 2px 0 10px 0;
}

.foot {
    width: 182px;

}
#container-footer {
    color: white;
    margin: 0px auto 0 auto;
    padding: 0 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    width: 100%;
    max-width: 1265px;
    line-height: 35px;
    font-size: 18px;
}

#container-footer a {
    color: white;
}

#facebook, #insta {
    padding-left: 30px;
    float: right;
    height: 36px;
    width: auto;
    display: inline-block;
}
#fa-in {
    padding: 45px 0 15px 0;
}

.juris, #biedriba-sp {
    font-size: 24px;
}

#juris-hide {
    display: none;
}

#second-menu {
    margin-top: -6px;
    line-height: 44px;
    padding-left: 25px;
}

#second-menu a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

#rekviz {
    display: none;
    font-weight: 600;
}

#rekviz:hover {
    text-decoration: underline;
}

#info {
    text-align: right;
}

.info {
    display: flex;
    flex-direction: column;
}

#SparkleHeart {
    color: white;
    line-height: 14px;
    width: 100%;
    vertical-align: bottom;
    font-size: 14px;
}

#rights {
    color: white;
    width: 50%;
    font-size: 14px;
    line-height: 20px;
}

#rights-hide {
    display: none;
    font-size: 15px;
}

#last {
    color: white;
    width: 50%;
    text-align: right;
    font-size: 14px;
    line-height: 14px;
}


@media (max-width: 1250px) {
    /* SHOW BUTTON */
    .nav-toggle {
       display: block;
    }
    #menu {
        font-size: 24px;
    }

    /* HIDE MENU */
    #menu {
       max-height: 0;
       height: 100vh;
       background: white;
       float: none;
       position: absolute;
       overflow: hidden;
       top: 55px;
       right: 0;
       left: 0;
       margin: 0;
       padding: 0;
       z-index: 3;
       transition: .5s ease-in-out;
    }
    /* LIST ELEMENTS */
    #menu li {
       display: block;
       text-align: center;
       margin-right: 0;
       margin-top: 10px;
    }

    #language {
        padding-top: 30px;
    }

    #menu a {
        line-height: 10vh;
    }

    #lv {
        float: none;
        margin-left: 0px;
        margin-right: 0px;
    }

    #menu li:first-child {
        margin-right: 0;
     }

    #en, #ru {
        visibility:visible;
    }

    #ru {
        order: 3;
    }

    #en {
        order: 2;
    }
    
    #lv2 {
        order: 1;
    }
    
}


/*FOOTER TABLET*/
@media (max-width: 1030px) {
    #biedriba {
        display: none;
    }
    #rekviz {
        display: block;
    }
}

/* TABLET */
@media (max-width: 786px) {
    /* NAV */
    .logo {
        width: 208px;
        padding-left: 80px;
    }

    nav {
        background: white;
        height: 75px;
    }

    /* TEXT */
    .container {
        margin: 0px auto 70px auto;
        width: 100%;
        max-width: 608px;
        padding-top: 178px;
    }

    #ideja_title {
        padding-bottom: 65px;
    }

    /*KARTE*/
    #map {
        height: 812px;
    }

    /* SELECT */
    #select {
        margin-bottom: 70px;
    }

    #select-riga-edisana {
        max-width: 680px;
        margin: 140px auto 35px auto;
    }

    #select-riga-edisana .edisana-logo img {
        width: 128px;
    }

    .edisana-name {
        width: 40%;
        padding-left: 8px;
    }

    .edisana-adrese {
        width: 30%;
    }

    /* FOOTER */
    #br {
        display: block;
    }

    #second-menu {
        display: none;
    }

    #juris-hide {
        display: block;
        padding-top: 25px;
    }

    .juris {
        display: none;
    }

    #container-footer {
        padding-left: 80px;
        padding-right: 80px;
    }

    .foot {
        width: 162px;
        padding-top: 18px;
    }

    #info {
        padding-top: 50px;
        line-height: 30px;
    }

    #facebook, #insta {
        padding-left: 30px;
        height: 25px;
    }

    #fa-in {
        padding: 35px 0 15px 0;
    }

    #SparkleHeart {
        order: 3;
        width: 70%;
        font-size: 16px;
        padding-top: 25px;
        padding-bottom: 35px;
    }

    #rights-hide {
        display: inline-block;
        font-size: 16px;
    }

    #rights {
        display: none;
    }

    #last {
        order: 4;
        width: 30%;
        font-size: 16px;
        padding-top: 25px;
        padding-bottom: 35px;
    }
}

@media (max-width: 720px) {
    /* SparkleHeart */
    #SparkleHeart {
        width: 50%;
        line-height: 20px;
    }

    #last {
        width: 50%;
        padding-top: 50px;
    }
}

/*FOOTER MOBILE*/
@media (max-width: 630px) {
    /* SELECT */
    #select {
        flex-direction: column;
    }

    select {
        width: 280px;
    }

    form {
        margin: auto;
    }

    .custom-select:last-child {
        margin-top: 20px;
    }

    #select-riga-edisana.select {
        display: none;
    }


    /*FOOTER*/
    .foot {
        width: 100px;
        padding-top: 0;
    }
    
    #container-footer {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    #info {
        text-align: left;
        width: 100%;
        order: 2;
        padding-top: 0px;
    }

    #fa-in {
        width: 100%;
    }

    #insta {
        float: none;
    }

    #facebook {
        float: left;
        padding-left: 5px;
        padding-right: 20px;
    }

    #SparkleHeart {
        order: 3;
        width: 100%;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #rights-hide {
        display: inline-block;
    }

    #rights {
        display: none;
    }

    #last {
        order: 4;
        width: 100%;
        text-align: left;
        padding-top: 20px;
        padding-bottom: 0px;
    }

    .juris {
        display: block;
        padding-top: 10px;
    }
    
    #juris-hide {
        display: none;
    }
}

@media (max-width: 595px) {
    /*PLACE*/
    .karta-text {
        display: flex;
        flex-flow: row wrap;
        flex-direction: column;
        padding: 12px;
    }

    .karta-text img {
        width: 112px;
        right: 0;
        margin-left: auto;
        padding-top: 0px;
    }

    .karta-text div {
        padding: 0;
    }

    .karta-text h2 {
        font-size: 18px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .karta-text p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    /* NAV */
    .logo {
        width: 98px;
        padding-left: 20px;
    }

    nav {
        background: white;
        height: 53px;
    }

    .nav-toggle {
        height: 15px;
        width: 15px;
        margin-right: 18px;
        margin-top: 18px;
    }

    .nav-toggle.active {
        height: 15px;
        width: 15px;
    }

    #menu {
        font-size: 18px;
    }

    /* TEXT */

    .container {
        margin: 0px auto 65px auto;
        width: 100%;
        max-width: 280px;
        padding-top: 110px;
    }

    #ideja_title {
        font-size: 36px;
        padding-bottom: 37px;
    }
    
    #text_par_juri {
        font-size: 14px;
        line-height: 17.07px;
    }

    /*KARTE*/
    #map {
        height: 606px;
    }

    /* SELECT */
    form {
        margin: auto;
    }

    form label {
        font-size: 14px;
    }

    /* FOOTER */
    #info {
        font-size: 12px;
    }
    #rekviz {
        font-size: 14px;
    }
    .juris {
        font-size: 18px;
    }
    #info {
        line-height: 26px;
    }
    #fa-in {
        padding-top: 38px;
    }
    #insta {
        padding-left: 13px;
    }
    #facebook {
        padding-left: 0px;
    }

    #SparkleHeart {
        font-size: 11px;
        padding-top: 11px;
        line-height: 14px;
    }
    #rights-hide {
        font-size: 11px;
    }

    #last {
        font-size: 11px;
        padding-top: 7px;
        padding-bottom: 20px;
    }
}




